aws_region     = "eu-central-1"
aws_profile    = "vadym-work"
instance_type  = "t3.small"
repository_ref = "main"

# For a safer demo, replace this with your current public IPv4 address/32.
allowed_cidr = "0.0.0.0/0"
